.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .filter {
    max-width: 300px;
    margin-right: 80px;
  }
}

.filterItems {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
  color: rgb(23, 49, 127);
  padding: 20px;
  cursor: pointer;
  margin-bottom: 1px;
}

.filterTitle {
  font-size: 1.2em;
  color: rgb(23, 49, 127);
  margin: 10px 0;
}

.filterItems.active {
  background: rgb(23, 49, 127);
  color: white;
}
